
<div class="fott1">
    <div class="container">
        <div class="fottcon d-flex text-light text-center">
            <div class="col-md-4">
               <h3>LOCATION</h3>
               <p>2215 John Daniel Drive</p>
               <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <i class="fa-brands fa-facebook boad "></i>
                <i class="fa-brands fa-twitter boad"></i>
                <i class="fa-brands fa-linkedin boad"></i>
                <i class="fa-solid fa-globe boad"></i>
             </div>
             <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
             </div>
        </div>
    </div>
    <p class="fott2 text-light text-center py-4">Copyright © Your Website 2021</p>
</div>
