<div class="contac">
    <h2 class="text-center fs-1 fw-bolder">CONATCT SECTION</h2>
    <div class="d-flex align-items-center justify-content-center mb-3 mt-3">
        <div class="line me-3 bg-dark"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3 bg-dark"></div>
    </div>
        <form class="w-50 p-3 mx-auto mt-5">
            <label for="Name">userName : </label>
            <input id="Name" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3">

            <label for="Age">userAge : </label>
            <input id="Age" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3">

            <label for="Email">userEmail : </label>
            <input id="Email" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3">

            <label for="Password">userPassword : </label>
            <input id="Password" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3">

            <button class="btn text-white mt-4 mb-3" style="background-color: #1abc9c;"> send Message </button>
        </form>
</div>