
<div class="protfilio container mb-4">
    <h2 class="text-center fw-bolder fs-1">PORTFOLIO COMPONENT</h2>
    <div class="d-flex align-items-center justify-content-center mb-3 mt-3">
        <div class="line me-3 bg-dark"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3 bg-dark"></div>
    </div>
    <div class="row g-5 text-center">
        <div class="col-md-4 hovimg">
            <img src="assets/img/poert1.png" alt="" class="photos w-100">
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
        <div class="col-md-4 hovimg">
            <img src="assets/img/port2.png" alt="" class="photos w-100">
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
        <div class="col-md-4 hovimg">
            <img src="assets/img/port3.png" alt="" class="photos w-100"> 
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
        <div class="col-md-4 hovimg">
            <img src="assets/img/poert1.png" alt="" class="photos w-100">
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
        <div class="col-md-4 hovimg">
            <img src="assets/img/port2.png" alt="" class="photos w-100">
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
        <div class="col-md-4 hovimg">
            <img src="assets/img/port3.png" alt="" class="photos w-100"> 
            <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus fa-6x text-light"></i></div>
        </div>
    </div>
</div>