/* You can add global styles to this file, and also import other style files */
.line {
    height: 4px;
    width: 5rem;
    background-color: white;
    
}

.boad{
    border-radius: 50%;
    border: 1px white solid;
    padding: 0.6rem;
    margin-left: 0.5rem;
}


